<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.board.FreeBoardReplyDaoImp">
	<insert id="replyInsert" parameterType="com.dolbommon.dbmon.board.FreeBoardReplyVO">
		insert into replyBoard(re_no, no, userid, content) values(reply_sq.nextval, #{no}, #{userid}, #{content})
	</insert>
	
	<select id="replyAllSelect" parameterType="int" resultType="com.dolbommon.dbmon.board.FreeBoardReplyVO">
		select re_no, userid, content, writedate from replyBoard where no=#{no} order by re_no desc
	</select>

	<update id="replyUpdate" parameterType="com.dolbommon.dbmon.board.FreeBoardReplyVO">
		update replyBoard set content=#{content} where re_no=#{re_no} and userid=#{userid}
	</update>
	
	<delete id="replyDelete">
		delete from replyBoard where re_no=" + #{re_no}
	</delete>
</mapper>