<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.board.FreeBoardDaoImp">
	<select id="freeBoardList" resultType="com.dolbommon.dbmon.board.FreeBoardVO">
		select * from (select * from (select no, head, subject, userid, hit, writedate, ref, step, lvl, filename1, filename2 
		from freeBoard 
		<choose>
			<when test="searchKey!=null and searchWord!=null">
				<if test='searchKey.equals("subject")'>
					where subject like '%'||#{searchWord}||'%' 
				</if>
				<if test='searchKey.equals("content")'>
					where content like'%'||#{searchWord}||'%' 
				</if>	
				<if test='searchKey.equals("userid")'>
					where userid like '%'||#{searchWord}||'%' 
				</if>	
			</when>
		</choose>
		order by ref desc, lvl asc) where 
		<![CDATA[rownum<=${currentPageRecord}]]>
		order by ref asc, lvl desc) where 
		<![CDATA[rownum<=${lastPageRecordCount}]]>
		order by ref desc, lvl asc
	</select>

	<select id="getTotalRecord" parameterType="com.dolbommon.dbmon.board.FreeBoardVO" resultType="int">	
		select count(no) from freeBoard 
		<choose>
			<when test="searchKey!=null and searchWord!=null">
				<if test='searchKey.equals("subject")'>
					where subject like '%'||#{searchWord}||'%' 
				</if>
				<if test='searchKey.equals("content")'>
					where content like'%'||#{searchWord}||'%' 
				</if>	
				<if test='searchKey.equals("userid")'>
					where userid like '%'||#{searchWord}||'%' 
				</if>	
			</when>
		</choose>
	</select>
	
	<select id="freeBoardSelect" parameterType="int" resultType="com.dolbommon.dbmon.board.FreeBoardVO">
		select no, head, subject, content, userid, hit, writedate, filename1, filename2 
		from freeBoard where no=#{param1}
	</select>
	
	<select id="preContentSelect" parameterType="int" resultType="com.dolbommon.dbmon.board.FreeBoardVO">
		select * from(
			select no, lag(no, 1) over (order by no) preNo, lag(subject, 1) over (order by no) preSubject
        	from freeBoard where step=0
    		)
    	where no=#{no}
	
	</select>	

	<select id="nextContentSelect" parameterType="int" resultType="com.dolbommon.dbmon.board.FreeBoardVO">
		select * from(
			select no, lead(no, 1) over (order by no) nextNo, lead(subject, 1) over (order by no) nextSubject
        	from freeBoard where step=0
    		)
    	where no=#{no}
	</select>	
	
	
	
	<update id="hitCount" parameterType="int">
		update freeBoard set hit=hit+1 where no=#{param1}
	</update>
	
	<insert id="freeBoardInsert" parameterType="com.dolbommon.dbmon.board.FreeBoardVO">
		insert into freeBoard(no, head, subject, content, userid, hit, writedate, ip, ref
		<choose>
			<when test='filename1!=null and !filename1.equals("")'>
			, filename1
			</when>
			<when test='filename2!=null and !filename2.equals("")'>
			, filename2
			</when>
		</choose>
		) values(board_sq.nextval, #{head}, #{subject}, #{content}, #{userid}, 0, sysdate, #{ip}, board_sq.currval
		<choose>
			<when test='filename1!=null and !filename1.equals("")'>
			, #{filename1}
			</when>
			<when test='filename2!=null and !filename2.equals("")'>
			, #{filename2}
			</when>
		</choose>
		)
	</insert>
	<delete id="freeBoardDel">
		delete from freeBoard where no=#{param1} and userid=#{param2}
	</delete>
	
	<update id="freeBoardEditOk" parameterType="com.dolbommon.dbmon.board.FreeBoardVO">
		update freeBoard set subject=#{subject}, content=#{content} where no=#{no} and userid=#{userid}
	</update>
	
	<select id="optionSelect" resultType="com.dolbommon.dbmon.board.FreeBoardVO">
		select no, ref, step, lvl from freeBoard where no=#{param1}
	</select>
	
	<update id="levelUpdate" parameterType="com.dolbommon.dbmon.board.FreeBoardVO">
		update freeBoard set lvl=lvl+1 where ref=#{ref} and lvl>#{lvl} 
	</update>
	
	<insert id="replyBoardInsert" parameterType="com.dolbommon.dbmon.board.FreeBoardVO">
		insert into freeBoard(no, head, subject, content, userid, hit, writedate, ip, ref, step, lvl) 
		values(board_sq.nextval, #{head}, #{subject}, #{content}, #{userid}, 0, sysdate, #{ip}, #{ref}, #{step}, #{lvl})
	</insert>
	
</mapper>