<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.login.LoginDaoImp">
	<select id="loginOk" resultType="com.dolbommon.dbmon.login.LoginVO">
		select userid, username, activity from member where userid=#{userid} and userpwd=#{userpwd}
	</select>
	
	<update id="keepLogin" parameterType="com.dolbommon.dbmon.login.LoginVO">
		update member set sessionKey=#{sessionKey}, sessionLimit=(CURRENT_TIMESTAMP)+7 where userid=#{userid}
	</update>
	
	<update id="cookieReset">
		update member set sessionKey=null, sessionLimit=null where userid=#{userid}
	</update>
	
	<select id="checkLoginBefore" resultType="com.dolbommon.dbmon.login.LoginVO">
		select userid, username from member where sessionKey=#{value}
	</select>


	<select id="findUserid" resultType="com.dolbommon.dbmon.login.LoginVO">
		select userid, username, birth, tel1, email from member where username=#{username} and tel1=#{tel1} and birth=#{birth}
	</select>
	
	<update id="pwdChange" parameterType="com.dolbommon.dbmon.login.LoginVO">
		update member set userpwd=#{userpwd} where username=#{username} and birth=#{birth} and tel1=#{tel1}
	</update>
	
	<select id="getMemberType" resultType="com.dolbommon.dbmon.member.MemberVO">
		select who from member where userid = #{param1}
	</select> 
</mapper>