<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.member.MemberDaoImp">
	<insert id="memberReg" >
		insert into member(no, userid, userpwd, username, birth, gender, tel1, email, addr, addrdetail, zipcode, lat, lng) 
				values(member_sq.nextval, #{mVo.userid}, #{mVo.userpwd}, #{mVo.username}, #{mVo.birth}, #{mVo.gender}, #{mVo.tel1}, #{mVo.email}, #{mVo.addr}, #{mVo.addrdetail}, #{mVo.zipcode}, #{mVo.lat}, #{mVo.lng})
	</insert>
	<insert id="memberRegTeacher">
		insert into teacher(userid, pic, care_type, child_age, activity_type, desired_wage, intro, cctv) 
				values(#{mVo.userid}, #{tVo.pic}, #{tVo.care_type}, #{tVo.child_age}, #{tVo.activity_type}, #{tVo.desired_wage}, #{tVo.intro}, #{tVo.cctv})
	</insert>
	<insert id="memberRegRegular">
		insert into regular_date(userid, yoil, start_time, end_time, start_date, end_date)
					values(#{mVo.userid}, #{rdVo.yoil}, #{rdVo.start_time}, #{rdVo.end_time}, #{rdVo.start_date}, #{rdVo.end_date})
	</insert>

	<select id="memberUseridChk" resultType="int">
		select count(userid) from member where userid = #{userid}
	</select>

</mapper>