<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.parent.ParentDaoImp">
	<insert id="insertDbmSearch" >
		insert into parent_list(job_board_no, userid, care_addr, dong_addr, time_type, pw_activity, wish_wage, consultation, time_consultation,  wish_age, wish_gender,title , content, lat, lng, writedate, hit) 
			values(member_sq.nextval, #{userid}, #{care_addr},#{dong_addr} ,#{time_type},  #{pw_activity}, #{wish_wage}, #{consultation}, #{time_consultation}, #{wish_age}, #{wish_gender},#{title}, #{content}, #{lat}, #{lng}, sysdate, 0)
	</insert>
	<insert id="insertDsChildInfo">
		insert into add_child(job_board_no, child_birth, userid, child_cnt) 
			values(member_sq.currval, #{cVO.child_birth}, #{rbVO.userid}, #{cVO.child_cnt})
	</insert>
	<insert id="insertDsSpecificDate">
		insert into jb_specific_day(job_board_no, select_date, start_time, end_time)
			values(member_sq.currval, #{sdVO.select_date}, #{sdVO.start_time}, #{sdVO.end_time})
	</insert>
	<insert id="insertDsRegularDate">
		insert into jb_regular_date(job_board_no, yoil, start_time, end_time, start_date, end_date, week)
			values(member_sq.currval, #{rdVO.yoil}, #{rdVO.start_time}, #{rdVO.end_time}, #{rdVO.start_date}, #{rdVO.end_date}, #{rdVO.week})
	</insert>
	<insert id="insertNullSpecificDate">
		insert into jb_specific_day(job_board_no)
			values(member_sq.currval)
	</insert>
	<insert id="insertNullRegularDate">
		insert into jb_regular_date(job_board_no)
			values(member_sq.currval)
	</insert>
	
	<select id="selectMyRdBoard" resultType="com.dolbommon.dbmon.parent.ParentHistoryVO">
		select p.job_board_no,p.title, p.userid, p.care_addr, p.time_type, p.pw_activity, p.wish_age, p.wish_wage, p.consultation, p.wish_gender, p.content, to_char(p.writedate, 'YYYY-MM-DD HH:MI') writedate,
		 p.lat, p.lng, c.child_birth, (select count(t_userid) from t_p_table where  job_board_no = p.job_board_no) tcnt , m.pic
			from parent_list p, add_child c, member m
    		where c.userid = #{param1} and c.userid = p.userid and p.job_board_no = c.job_board_no and m.userid= #{param1} and p.status != 'C'
    		order by tcnt desc, writedate desc
	</select>
	
	<select id="selelctApplyToTeacher" resultType="com.dolbommon.dbmon.parent.ParentHistoryVO">
		select p.job_board_no, m.username, p.teacherid, p.userid, to_char(p.writedate, 'YYYY-MM-DD HH:MI') writedate, p.care_addr, p.wish_wage, c.child_birth, t.pic
    		from parent_list p, member m, add_child c, teacher t
    		where p.userid = #{param1} and p.job_board_no = origin_no and m.userid = p.userid and p.job_board_no = c.job_board_no and p.teacherid = t.userid and p.status = 'C'
    		order by writedate desc
	</select>
	
	<select id="applyDbmCnt" >
		select count(t_userid) from t_p_table where job_board_no = #{param1}
	</select>
	
	<select id="getParentProfile" resultType="com.dolbommon.dbmon.search.RecruitBoardVO" >
		select username, gender, to_char(birth, 'YYYY-MM-DD') birth, tel1, email, addr, addrdetail, to_char(regdate, 'YYYY-MM-DD') regdate, pic, who, trunc(months_between(trunc(sysdate), birth)/12) age
			from member 
			where userid = #{param1}
	</select>
	
</mapper>













