<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.search.RecruitBoardDaoImp">
	<select id="recruitBoardList" resultType="com.dolbommon.dbmon.search.RecruitBoardVO">
		select job_board_no, userid, care_addr, wish_age, wish_wage, time_type, consultation, content, wish_gender, content, hit, to_char(writedate, 'MM-DD HH:MI') writedate 
			from parent_list order by job_board_no desc
	</select>
	
	<select id="selectTMemNo" resultType="com.dolbommon.dbmon.search.MemberVO">
		select no from member
	</select>
	
	<select id="getTotalRecords" resultType="int">	
		select count(job_board_no) from parent_list
	</select>
	
	<select id="recruitBoardSelect" parameterType="int" resultType="com.dolbommon.dbmon.search.RecruitBoardVO">
		select p.job_board_no, p.userid, m.username, p.care_addr, p.dong_addr, p.time_type, p.pw_activity, p.wish_wage, p.consultation, p.wish_age, p.wish_gender, p.content, p.lat, p.lng, p.hit, p.writedate, p.time_consultation,
			(select count(t_userid) from t_p_table where job_board_no = #{param1}) tcnt
			from parent_list p, member m 
			where p.job_board_no=#{param1} and p.userid = m.userid
	</select>
	
	<select id="recruitChildSelect" parameterType="int" resultType="com.dolbommon.dbmon.parent.ChildrenVO">
		select job_board_no, child_birth
			from add_child where job_board_no=#{param1}
	</select>
	
	<select id="recruitRegularDateSelect" parameterType="int" resultType="com.dolbommon.dbmon.member.RegularDateVO">
		select job_board_no, yoil, to_char(start_date, 'YYYY-MM-DD') start_date, to_char(end_date, 'YYYY-MM-DD') end_date, start_time, end_time, week
			from jb_regular_date where job_board_no=#{param1}
	</select>
	
	<select id="recruitSpecificDateSelect" parameterType="int" resultType="com.dolbommon.dbmon.member.SpecificDateVO">
		select job_board_no, select_date, start_time, end_time
			from jb_specific_day where job_board_no=#{param1}
	</select>
	
	<select id="getParentId" resultType="com.dolbommon.dbmon.parent.ApplyToParentVO">
		select userid p_userid from parent_list
			where job_board_no = #{param1}
	</select>
	
	<insert id="applyToParent" >
		insert into t_p_table(tea_no, job_board_no, t_userid, p_userid, apply_date, status) 
			values(member_sq.nextval, #{param1}, #{param2}, #{param3}, sysdate, 'M')
	</insert>
	
	<select id="applyDbmSelect" parameterType="int" resultType="com.dolbommon.dbmon.parent.ApplyToParentInfoVO">
		select member.username, member.userid, member.tel1, trunc(months_between(trunc(sysdate), birth)/12) birth, member.gender, teacher.desired_wage, teacher.cctv , teacher.pic, to_char(t_p_table.apply_date, 'YYYY-MM-DD HH:MI') apply_date
			from member, t_p_table, teacher 
	    	where member.userid = t_p_table.t_userid and t_p_table.t_userid = teacher.userid and t_p_table.job_board_no = #{param1}
	</select>
	
	<delete id="applyCancel" >
		delete from t_p_table where t_userid = #{param1} and job_board_no = #{param2}
	</delete>
	
	<delete id="refusalDbm" >
		delete from t_p_table where t_userid = #{param1} and job_board_no = #{param2}
	</delete>
	
	<select id="applyChk" resultType="int">
		select count(t_userid) 
			from t_p_table
			where job_board_no = #{param1} and t_userid = #{param2}
	</select>
	
	<update id="hitCount" parameterType="int">
		update parent_list set hit=hit+1 where job_board_no=#{param1}
	</update>
	
	<update id="updateDbmSearch">
		update parent_list set care_addr=#{rbVO.care_addr}, dong_addr=#{rbVO.dong_addr}, time_type=#{rbVO.time_type}, pw_activity=#{rbVO.pw_activity}, wish_wage=#{rbVO.wish_wage}, consultation=#{rbVO.consultation}, time_consultation=#{rbVO.time_consultation}
			, wish_age=#{rbVO.wish_age}, wish_gender=#{rbVO.wish_gender}, content=#{rbVO.content}, lat=#{rbVO.lat}, lng =#{rbVO.lng}
			where job_board_no = #{param1}
	</update>
	<update id="updateDsChildInfo">
		update add_child set(child_birth, child_cnt) = 
			(#{cVO.child_birth}, #{cVO.child_cnt})
			 where job_board_no = #{param1}
	
	</update>
	<update id="updateDsRegularDate">
		update jb_regular_date(yoil, start_time, end_time, start_date, end_date, week) =
			(#{rdVO.yoil}, #{rdVO.start_time}, #{rdVO.end_time}, #{rdVO.start_date}, #{rdVO.end_date}, #{rdVO.week})
			where  job_board_no = #{param1}
	</update>
	<update id="updateDsSpecificDate">
		update jb_specific_date(select_date, start_time, end_time) = 
			(#{sdVO.select_date}, #{sdVO.start_time}, #{sdVO.end_time})
			where job_board_no = #{param1}
			
	</update>
	
	
	
	<insert id="recruitBoardInsert" parameterType="com.dolbommon.dbmon.search.RecruitBoardVO">
		insert into parent_list(job_board_no, content, userid, hit, writedate) 
		values(board_sq.nextval,#{content}, #{userid}, 0, sysdate)
	</insert>
	
	
	
	<delete id="recruitBoardDel">
		delete from parent_list where job_board_no=#{param1} and userid=#{param2}
	</delete>
	
	<update id="recruitBoardEditOk" parameterType="com.dolbommon.dbmon.search.RecruitBoardVO">
		update parent_list set content=#{content}, where job_board_no=#{job_board_no} and userid=#{userid}
	</update>
<!-- 	
	<select id="optionSelect" resultType="com.dolbommon.dbmon.search.RecruitBoardVO">
		select job_board_no, ref, step, lvl from parent_list where job_board_no=#{param1}
	</select> -->
	
	
	<insert id="replyBoardInsert" parameterType="com.dolbommon.dbmon.search.RecruitBoardVO">
		insert into parent_list(job_board_no, content, userid, hit, writedate) 
		values(board_sq.nextval, #{content}, #{userid}, 0, sysdate)
	</insert>
	
	
</mapper>