<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.Teacher.TeacherDaoImp">
	<select id="selectTeacher" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.TeacherVO">
		select userid, intro, care_type, desired_wage, cctv, hit from teacher where userid=#{userid}
	</select>
	<update id="updateIntro" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set intro = #{intro} where userid = #{userid}
	</update>
	<update id="updateWage" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO" >
		update teacher set desired_wage = #{desired_wage} where userid= #{userid}
	</update>
	<update id="updatePic" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set pic = #{pic} where userid= #{userid}
	</update>
	<update id="updateAge" parameterType="String">
		update teacher set child_age=#{age_list} where userid= #{userid}
	</update>
	<update id="updateType" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set care_type= #{care_type} where userid= #{userid}
	</update>
	<update id="updateCCTV" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set cctv= #{cctv} where userid= #{userid}
	</update>
	<select id="selectExp" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.ExperienceVO" >
		select exp_content, to_char(exp_start, 'YYYY-MM-DD') as exp_start, to_char(exp_end, 'YYYY-MM-DD') as exp_end from experience where userid= #{userid}
	</select>
	<update id="updateExp" parameterType="com.dolbommon.dbmon.Teacher.ExperienceVO">
		update experience set exp_content = #{exp_content}, exp_start = #{exp_start}, exp_end= #{exp_end} where userid= #{userid}
	</update>
	<update id="hitCount" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO" >
		update teacher set hit= hit+1 where userid= #{userid}
	</update>
</mapper>