<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolbommon.dbmon.Teacher.TeacherDaoImp">
	<select id="selectTeacher" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.TeacherVO">
		select userid, intro, care_type, child_age, activity_type, teacher_type, desired_wage, pic, cctv, hit, round((sysdate - last_edit) *1440) as last_edit, area1, area2, area3, active from teacher where userid=#{userid}
	</select>
	<select id="selectTMember" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.MemberVO">
		select username, email, tel1, addr, zipcode, gender, birth, no, lat, lng from member where userid = #{userid}
	</select>
	<select id="selectReview" resultType="com.dolbommon.dbmon.Teacher.ReviewVO">
		select distinct r.userid, m.username, m.pic, r.reviewid, r.review_content, r.review_star, r.review_star, round((sysdate - r.review_date)*1440) as review_date from review r join member m on r.reviewid = m.userid where r.userid = #{param1}
	</select>
	<insert id="insertReview">
	</insert>
	<update id="updateReview">
	
	</update>
	<update id="updateIntro" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set intro = #{intro}, last_edit = sysdate where userid = #{userid}
	</update>
	<update id="updateWage" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO" >
		update teacher set desired_wage = #{desired_wage}, last_edit = sysdate where userid= #{userid}
	</update>
	<update id="updatePic" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set pic = #{pic}, last_edit = sysdate where userid= #{userid}
	</update>
	<update id="updateAge" parameterType="String">
		update teacher set child_age=#{child_age}, last_edit = sysdate where userid= #{userid}
	</update>
	<update id="updateActivity" parameterType="String">
		update teacher set activity_type=#{activity_type}, last_edit = sysdate where userid= #{userid}
	</update>
	<update id="updateType" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set care_type= #{care_type}, last_edit = sysdate where userid= #{userid}
	</update>
	<update id="updateCCTV" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set cctv= #{cctv}, last_edit = sysdate where userid= #{userid}
	</update>
	<select id="selectExp" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.ExperienceVO" >
		select exp_no, exp_content, to_char(exp_start, 'YYYY-MM-DD') as exp_start, to_char(exp_end, 'YYYY-MM-DD') as exp_end, case when DBMS_LOB.SUBSTR(exp_content, DBMS_LOB.GETLENGTH(exp_content))is null then '1' else '0' end PRIORITY 
   		from experience where userid= #{userid} order by PRIORITY asc, exp_start desc
	</select>
	<select id="findIdT" parameterType="com.dolbommon.dbmon.Teacher.ExperienceVO">
		select count(#{userid}) from experience
	</select>
	<update id="updateExp" parameterType="com.dolbommon.dbmon.Teacher.ExperienceVO">
		update experience set exp_content=#{exp_content}, exp_start=#{exp_start}, exp_end=#{exp_end} where userid= #{userid} and exp_no=#{exp_no} 
	</update>
	<insert id="insertExp" parameterType="String">
		insert into experience(userid, exp_no, exp_start, exp_end) values(#{userid}, exp_sq.nextval, sysdate, sysdate)
	</insert>
	<delete id="deleteExp" parameterType="com.dolbommon.dbmon.Teacher.ExperienceVO">
		delete from experience where userid= #{userid} and exp_no=${exp_no}
	</delete>
	<update id="hitCount" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO" >
		update teacher set hit= hit+1 where userid= #{userid}
	</update>
	<select id="selectLastEdit" parameterType="String">
		select round((sysdate - #{last_edit}) *1440) from teacher where userid= #{userid};
	</select>
	<select id="selectTMap" parameterType="String" resultType="com.dolbommon.dbmon.Teacher.MemberVO">
		select lat, lng from member where userid = #{userid}
	</select>
	<update id="updateTMap" parameterType="com.dolbommon.dbmon.Teacher.MemberVO" >
		update member set lat= #{lat}, lng=#{lng} where userid = #{userid}
	</update>
	<update id="updateArea" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set area1= #{area1} where userid = #{userid}
	</update>
	<update id="updateActive" parameterType="com.dolbommon.dbmon.Teacher.TeacherVO">
		update teacher set active = #{active} where userid = #{userid}
	</update>
</mapper>