@charset "UTF-8";
<link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

	/* ============= 초기화 ==============  */
	*{margin:0; padding:0; list-style:none; text-decoration:none; font-family: 'Poor Story', cursive;
		font-weight:bold;
	}
	li{list-style:none;}
	label.divOnOff{font-weight:bold; color:black; font-size:30px;}
	.container{width:600px; margin-top:50px; }
	input[type=checkbox]{display:none;}
	input[type=radio]{display:none;}
	#writeFrm{text-align:center;}
	.next{width:50%; height:40px; margin:20px 0;}
	/* ============= 초기화 ==============  */
	
	/* ============= 헤더 =============== */
	#header{ padding:10px;}
	#header img{width:350px; margin:0 auto;}
	#header>div{text-align:center; font-size:2em; }
	.title{display:inline-block; width:70%; height:50px; line-height:50px; border-top:3px solid #EFEFEF; border-bottom:3px solid #EFEFEF; margin:30px 0;}
	.title>label{width:100%; height:100%; cursor:pointer;}
	#ageAndGenderDiv{display:none;}
	#ageDiv ul{ }
	
	/* ============= 돌봄 유형 목록 ============== */
	#activityTypeDiv{display:inline-block; width:60%; margin-top:100px;}
	#activityListDiv{display:inline-block; overflow:hidden; height:auto;}
	#activityListDiv label{display:inline-block;width:50%; height:100%; margin:0; text-align:center; border-radius:50%;}
	#activityListDiv div{display:inline-block; overflow:hidden; width:25%; height:105px; text-align:center; float:left; padding:23px auto;}
	#activityListDiv img{}
	#activityListDiv>div span{font-size:12px;}
	/* ============= 돌봄 유형 목록 ============== */
	
	/* ============= 원하는 선생님 나이 선택 ================ */
	#ageAndGenderDiv{display:inline-block; width:70%;}
	
	#genderDiv{display:inline-block; width:35%; }
	#dadadada{display:none;}
	#genderDiv input{display:none;}
	#genderDiv label{display:inline-block; width:50px; height:50px; line-height:50px; margin:0 5px; border-radius:50%; background-color:#EFEFEF;}
	#ageDiv{width:100%; text-align:center; overflow:hidden; height:auto; margin:50px 0; }
	#ageDiv ul{overflow:hidden; width:65%; margin:0 auto;}
	#ageDiv li{width:18%; height:50px; line-height:50px; float:left; margin:10px 1%; border:none; border-radius:50%; background-color:#EFEFEF; color:black; font-weight:bold; }
	#ageDiv label{width:100%; height:100%; text-align:center; }
	/* ============= 원하는 선생님 나이 선택 ================ */
	/* ====================== 자녀 수 ========================= */
	#childrenInfo{display:inline-block; width:70%; overflow:hidden; height:auto; font-weight:bold;}
	#childrenCnt label{
		width:15%; 
		height:50px; 
		line-height:50px; 
		text-align:center; 
		background-color:#EFEFEF;
		border-radius:10px;
		margin:5%; 
		float:left; 
		font-weight:1000;
		color:gray;
		list-style:none;
	}
	/* ===================== 자녀 세부정보 ==================== */
	#childrenInfoDiv{display:inline-block; width:70%; text-align:center;}
	#childrenDetailDiv{width:100%; overflow:hidden; height:auto;}
	#childrenDetail{width:100%; overflow:hidden; height:auto;}
	#childrenDetailDiv ul{display:none;}
	#childrenDetailDiv li{width:100%; height:30px;padding:0 5%; margin:10px 0; }
	#childrenDetailDiv .childBtn{width:45%;height:100%; margin-bottom:4px; line-height:18px;}
	#childrenDetailDiv span{width:3%;background-color:white;}
	#childrenDetailDiv .child_birth{width:45%;height:100%; text-align:center;}
	/* ===================== 자녀 세부정보 ==================== */
	
	#zidcodeBtnDiv{text-align:center;}
	#zidcodeBtnDiv> input[type=button]{width:40%; height:40px; padding:3px 10px; border-radius:10px; border:none;}
	
	#paymentDiv{display:inline-block; width:70%; overflow:hidden; height:auto; text-align:center;}
	#paymentDiv #wageDiv{display:inline-block; width:70%; overflow:hidden; height:auto; text-align:center; border-radius:10px; background-color:#ffc207;}
	#paymentDiv img{width:35%;height:150px;}
	#paymentDiv input{width:35%; font-size:20px; text-align:right; padding:5px 10px; margin:1% 0; background-color:#ffc207; border:none;}
	#paymentDiv input[type=checkbox]{display:inline-block;}
	#paymentDiv span{;margin-left:1%; font-size:14px;}
	#paymentDiv label{margin:2% 0;}
	#paymentDiv p{display:inline-block; width:70%; margin-bottom:30px; font-size:14px; font-weight:bold; color:gray;}
	#paymentDiv input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
	
	#descriptionDiv{display:inline-block; text-align:center; width:70%;}
	textarea{
		display:inline-block; 
		width:90%; 
		overflow:hidden; 
		height:200px; 
		font-size:15px;
		resize:none; 
		background-color:#EFEFEF; 
		border:1px solid gray; 
		border-radius:5px;
		padding:5px 10px;
	}
	#warningDiv{width:100%; overflow:hidden; height:auto;}
	#warningDiv img{width:17px; height:17px;}
	#warningDiv p{display:inline-block; width:auto; font-size:13px; color:gray; margin:0;}
	
	#timeTypeDiv{display:inline-block; width:80%; text-align:center;}
	#timeTypeDiv> label{display:inline-block; width:30%; height:40px; line-height:40px; margin:0 5%; border-radius:10px; border:none; background-color:#EFEFEF;}
	#timeTypeDiv #title{margin:20px 0; width:100%;}
	
	#regularDateDiv #endDateBtn{margin-left:13%; display:none;}
	/* ==================== 정기적으로 - 날짜 설정 =================== */
	#regularDateDiv {display:inline-block; width:60%; text-align:center;}
	#regularDateDiv #startDateDiv{display:inline-block; margin-bottom:5px; width:100%;}
	#regularDateDiv #startDateDiv>input{width:40%; height:100%; text-align:center; border-radius:15px;}
	#regularDateDiv #startDateBtn{margin-right:5%;}
	#regularDateDiv #start_date{margin-left:5%;font-weight:bold; border:1px solid gray;}
	#regularDateDiv #end_date{margin-left:13%;}
	#fatman{display:none; position:relative; left:80%; bottom:500px;}
	/* ===================== =====================*/
	#regularDateDiv #selectDayDiv{width:100%; overflow:hidden; height:auto; }
	#regularDateDiv #selectDayDiv li>label{
		display:block; 
		width:100%; height:100%; 
		border-radius:50%; 
		background-color:#EFEFEF; 
		margin:0;
		
	}
	#regularDateDiv #selectDayDiv li{
		width:12.28%; 
		height:60px; 
		line-height:60px; 
		border-radius:50%; 
		text-align:center; 
		float:left; margin:1%; 
	}	
	#periodDiv>label{
		display:inline-block;
		width:30%;;height:40px;
		line-height:40px;
		background-color:#EFEFEF; 
		margin:10px 0;
		border-radius:20px;
		
	}
	/* ===================== =====================*/
	
	/* ==================== 활동 시간 설정  ======================== */
	#timeTypeDiv #timeDiv{display:inline-block; text-align:center; width:60%; overflow:hidden; height:auto; border-top:3px solid #CCC; margin-top:10px;}
	#timeTypeDiv #timeDiv div{width:50%; height:100px; float:left;}
	#timeTypeDiv #timeDiv div:nth-of-type(3){width:100%; height:auto;}
	
	#timeTypeDiv #startDiv{padding:20px; border-right:1px solid gray;}
	#timeTypeDiv #startDiv *{float:right;}
	#timeTypeDiv #endDiv *{float:left;}
	#timeTypeDiv #endDiv{padding:20px;}
	#timeTypeDiv #time_consultation{display:inline-block; float:left; margin-top:5px;}
	#timeTypeDiv #startDiv>select{text-align-last:center}
	#timeTypeDiv #endDiv>select{text-align-last:center;}
	#timeTypeDiv select{width:60%; height:40px; font-size:17px; -webkit-appearance: none; moz-appearance: none;}
	/* ==================== 활동 요일 설정  ======================== */
	
	/* ========================= 특정날짜 선택 ======================== */
	#specificDateDiv{display:inline-block; width:60%; text-align:center;}
	#specificDateDiv>div{display:inline-block; width:100%;}
	/* ========================= 특정날짜 선택 ======================== */
	
	#submitDiv{display:inline-block; text-align:center;width:50%}
	input[type=submit]{width:100%; height:40px; border:none; border-radius:10px; background-color:#ffc207; margin:30px 0;}
	
	/* ===================== edit =======================*/
	#editChild{display:block;}
	#editChild li{display:block;}	
	/* ===================== edit =======================*/
	
	
	label{-webkit-transition:background-color 1s;
		transition:background-color 1s;}
	li{-webkit-transition:background-color 1s;
		transition:background-color 1s;
		list-style:none;
		}
	ul{
		list-style:none;
	}
	#footer{margin-bottom:300px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	