<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.dolbommon.dbmon.chat.ChatRoomDTO" alias="Room" />
	</typeAliases>
	<mappers>
		<mapper resource="com/dolbommon/dbmon/mapper/ChatMapper.xml" />
	</mappers>  
</configuration>